# General
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log
dist/
build/
coverage/

# Environment
.env
.env.local
.env*.local
.vercel

# Prisma
prisma/*.db
prisma/*.db-journal
